@import "codemirror/lib/codemirror.css";
@import "themelist.scss";

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border: 1px solid #b2b6bb;
    box-sizing:border-box;
}
.isa_error {
    color: #f2f2f2;
    background-color: #f81707;
}

// .isa_error {
//     color: #3e26b6c5;
//     background-color: #4528ea;
//     border-radius: 3px; 
//     -moz-border-radius: 3px; 
//     -webkit-border-radius: 3px; 
//     border: 1px solid #b2b6bb;
//     box-sizing:border-box;
// }

.rounded{
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border: 1px solid #b2b6bb;
    box-sizing:border-box;
  }

* {
  box-sizing: border-box;
}

.line-error {
    background: #2e0000 !important;
    color: #8a1f11 !important;
}

.breakpoints {width: .9em;}
.breakpoints { color: #822; }
// .error {width: .10em;}
// .error { color: rgb(239, 237, 237); }
// .inMarker {width: .2em;}
// .inMarker { color: #822; }

.noEval{
    background-color:rgb(224, 224, 128); 
  }
.noEvalFirst{
    border-top:2px dotted rgb(207, 74, 30); 
}

//original css 

html{
    // background-color: rgb(248, 246, 221);
    overflow: hidden;
}

.wathon-playground{
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-bottom: 1em;
}

.wathon-header{
    list-style-type: none;
    padding-top: 2em;
    padding-bottom: 1.25em;
    // padding: 1.25em 0;
    overflow: hidden;
}

.left{
    float: left;
}

.right{
    float: right;
}

.label-title-left{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.label-title-margin{
    margin-right: 0.5em;
}

.left-button-margin{
    margin-right: auto;
}

.left-button-shadow{
    box-shadow: 0 2px 4px -2px rgb(0 0 0 / 40%), inset 0 1px 0 white;
}

.label-left-run{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(91, 124, 180);
    color: white;
    border-right: 1px solid #5d7290;
    margin-right: 0.5em;
    cursor: pointer;
}

.config-symbol{
    display: block;
    fill: currentcolor;
}

.left-run-symbol{
    display: block;
    fill: currentColor;
}

.run-symbol-margin{
    margin-left: 0.75em;
}

.label-left-run:hover{
    background-color: #5d7290;
}

.label-left{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
    border-right: 1px solid #dedede;
}

.button-compact {
    padding: 2px 16px;
    width: 100%;
    box-sizing:border-box;
}

.label-left:hover{
    background-color: rgb(222, 220, 220);
}

.wathon-content-wrapper{
    // grid-template-columns: auto;
    display: flex;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.wathon-content-border{
    border: 4px solid #bbb;
    border-radius: 4px;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.dynamic-content-border{
    position: relative;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
    display: flex;
}

.absolute-content-border{
    // float: left;
    // position: absolute;
    width: 40%;
    // width: 83vh;
    min-width: 0;
    height: 100%;
    min-height: 0;
    background: #fff;
    flex: 1 1 auto;
    overflow: scroll;
}

.user-code {
    width: 100%;
    min-width: 0;
    height: 80em;
    min-height: 0;
    resize: none;
    overflow: scroll;
    font-family: monospace;
    border: none;
}

.dragbar{
    width: 9px;
    cursor: col-resize;
    background-color: #ddd;
    background-image: url(https://trinket.io/cache-prefix-89107359/img/resizex.png);
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    // float: left;
    flex: 0 0 auto;
}

.interection-content-border{
    // float: left;
    // margin-left: 50%;
    // position:relative;
    // width: auto;
    // min-width: 0;
    height: 100%;
    min-height: 0;
    flex: 1 1 auto;
    box-sizing: border-box;
    // overflow: auto;
    // background: #fff;
}

.interactions {
    width: 100%;
    // margin-left: 1em;
    // position:absolute;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    border: none;
    overflow: scroll;
    font-family: monospace;
    // line-height: 1.2em;
    line-height: 75%;
    font-size: 1.1em;
    min-height: 100%;
    position: relative;
}

.output{
    // margin-top: 1em;
    // font-family: monospace;
    // line-height: 1.2em;
    // font-size: 1.2em;
    // margin-right: 1.5em;
}



.console-prompt{
    color: #1b964a;
    // font-family: monospace;
    // line-height: 1.2em;
    // font-size: 1.2em;
}


.repl-code {
    text-align: left;
    font-family: monospace;
    background: transparent;
    border: none;
    outline: none;
    color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    caret-color: transparent;
    resize: none;
}

.repl-code:focus{
    text-align: left;
    outline: none;
    background: transparent;
    border: none;
    caret-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.prompt {
    // vertical-align: middle;
    // display: flex;

}

.output pre {
    max-width: 100%;
    line-break: anywhere;
    word-wrap: break-word;
    white-space: break-spaces;
    margin: 10px 0px;
    padding:12px;
    color: #010000;
    background-color: #55c474;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border: 1px solid #b2b6bb;
    box-sizing:border-box;
}

// .output err {
//     max-width: 100%;
//     line-break: anywhere;
//     word-wrap: break-word;
//     white-space: break-spaces;
//     margin: 10px 10px;
//     padding:6px;
//     color: #010405;
//     background-color: #d71212;
//     border-radius: 3px; 
//     -moz-border-radius: 3px; 
//     -webkit-border-radius: 3px; 
//     border: 1px solid #b2b6bb;
//     box-sizing:border-box;
// }


.output .isa_error {
    max-width: 100%;
    line-break: anywhere;
    word-wrap: break-word;
    white-space: break-spaces;
    margin: 10px 10px;
    padding:6px;
    color: #f1f5f7;
    background-color: #d71d1d;
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border: 1px solid #b2b6bb;
    box-sizing:border-box;
}


// .output pre {
//     max-width: 100%;
//     line-break: anywhere;
//     margin: 0;
//     word-wrap: break-word;
//     white-space: break-spaces;
// }

.prompt-cursor{
    display: block;
    background-color: rgb(102, 102, 102);
    white-space: pre-wrap;
}

.prompt-text{
    display: inline;
    white-space: pre-wrap;
}

.arrow {
    border: solid brown;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }

.panel {
    width: 100%;
    padding: 0 0 0 5%;
    display: none;
    background-color: rgb(119, 231, 147);
    overflow: hidden;
    font-family: monospace;
}

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    width: 100%;
    min-width: 0;
    height: 85.4vh;
    min-height:auto;
    // height: 400px;
    // padding:5px;
    // margin:10px;
    border-radius: 2%;
  }

  .error_content {
    text-decoration: rgb(249, 3, 3) wavy underline;
  }